footer {
  background-color: #1f363dff;
  color: #cfe0c3ff;
  min-height: 120px;
  margin: 0;
}
/* Set background color to #cfe0c3ff */
footer h5 {
  color: #cfe0c3ff;
  text-transform: uppercase;
}

footer li {
  margin: 0;
}
/* Set text color to #70a9a1ff  */
.cv-pdf i {
  font-size: 18px;
  color:#70a9a1ff;
  text-align: center;
  padding-left: 5px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
  color: #cfe0c3ff;
}

.social-links {
  padding-bottom: 15px;
}
/* social links text color to #1f363dff, background color #70a9a1ff;  */
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #1f363dff;
  background: #70a9a1ff;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #cfe0c3ff;
}

#footer-details {
  padding: 20px 0 0;
}

.outer-space-crayola {
  color: #1f363dff;
  color: #40798cff;
  color: #70a9a1ff;
  color: #9ec1a3ff;
  color: #cfe0c3ff;
}