header {
  min-height: 75px;
}

header,
.bg-light {
  background-color: #1f363dff !important;
}

.navbar-light .navbar-brand {
  color: #cfe0c3ff;
}

#menu li {
  margin: 10px 0;
  margin-left: 15px;
  line-height: 25px;
}

#menu a,
#menu a:visited {
  color: #70a9a1ff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
}

#menu a:hover {
  color: #cfe0c3ff;
  border-bottom: 3px solid #cfe0c3ff;
}

.navbar-toggler-icon {
  color: #cfe0c3ff;
}

.nav-item {
  margin-left: 0.8em;
}

.navbar-light .navbar-toggler {
  background-color: #cfe0c3ff;
  border: none;
  margin-right: 10px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-container {
  width: 100%;
  text-align: right;
}
.title {
  position: absolute;
  top: 0;
  z-index: 1111;
}

#main-nav-bar {
  min-width: 310px;
}